.container {
  padding-left: 24px;
  padding-right: 24px;
}


/*********** Navigation Bar ************/
#navbar {
  z-index: 1;
  position: absolute;
  width: 100%;
  align-items: center;
}

#navbar-list li {
  padding: 0 25px;
}

#navbar-list .first-link {
  padding-left:0px;
}

#navbar-list .last-link {
  padding-right:0px;
}

#navbar-list li a {
  color: black;
  font-weight: 600;
  font-size: 1.1em;
}

#navbar a:hover {
  color: #ffb727;
}

.navbar-toggler {
  border-color: white;
}


.navbar-collapse{
  background-color: white;
}  

@media (min-width: 768px) {
  .navbar-collapse{
  background-color: unset;
  }

  #navbar-list li a {
    color: white;
  }  
}

/*********** Hero ************/
#hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("images/nathan-anderson-L95xDkSSuWw-unsplash.webp");
  background-size: cover;
  background-position: center;
  margin-bottom:30px;
}

#hero a {
  color:white;
}

.hero-container {
  color: white;
  height: 100%;
  flex-direction: column;
}

.inner-hero hr{
  width:400px;
  height:5px;
  opacity: .90;
}

.social-icons i:hover{
  color: #ffb727;
}

.hero-name {
  font-family: 'Josefin Sans', serif;
  font-size: 55px;
}

.hero-subtitle {
  font-size: 28px;
  font-family: 'Josefin Sans', serif;
}

/*********** About Me Section ************/

.aspectRatioBox {
  padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
  background-size: cover;
  background-position: center;
}

.aboutme-section {
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.aboutme-section span {
  position: absolute;
  top: 30px;
  color: #eef0f2;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}

.aboutme-section h2 {
  font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #3b434a;
    position: relative;
    z-index: 2;
}

.profile-picture {
  max-width: 200px;
}

.about-description {
  text-align: justify;
}


/*********** Portfolio Section ************/

.portfolio-section {
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.portfolio-section span {
  position: absolute;
  top: 30px;
  color: #eef0f2;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}

.portfolio-section h2 {
  font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #3b434a;
    position: relative;
    z-index: 2;
}

.porfolio-caption {
  text-align: center;
  
}

.portfolio-card {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
}

.portfolio-title {
  font-size:1.3em;
  font-weight: 600;
}

.portfolio-description {
  padding: 10px 20px;
}
/*********** Footer Section ************/

#footer {
  background: url(./images/nathan-anderson-9o-VrJSwGuw-unsplash.webp) top center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 80px 0;
  margin-top:50px;
  position: relative;
  color:white;
}

.footer-signature {
  font-size: 3.5em;
  font-family: 'Dancing Script', cursive;
}

.footer-quote {
  font-style:italic;
  font-family: 'Crimson Pro', serif;
  font-size:1.1em;
}

.copyright {
  font-size:0.8em;
}